@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Share+Tech+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
    font-family: 'bio';
    src: url('/fontes/BIOTECH-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'html';
    src: url('/fontes/html5_values.ttf') format('truetype');
}

:root {
    --cor1: ;
    --cor2: ;
    --cor3: ;
    --cor4: ;
    --cor5: ;

    --font0: 'bio';
    --font1: 'html';
    --font2: Arial, Helvetica, sans-serif;
    --font3: 'Share Tech Mono', monospace;
    --font4: 'Great Vibes', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font2);
}